{{nav-links subcategory=model.subcategory category=model.subcategory.category}}


{{listing-details listing=model}}

<button {{action 'deleteListing' model}}>Delete this listing</button> 


{{outlet}}
